table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #f2f2f2;
      color: black;
    }
  
    td {
      input {
        width: 100%;
        box-sizing: border-box;
        border: none;
        padding: 8px;
        background-color: #f9f9f9;
      }
    }
  }
  